@model IEnumerable<MyWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index 4</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-bordered align-middle">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                Action
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <img src="http://localhost:9001/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL215YnVja2V0L3BpY3R1cmUxLmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPU9aTjBNSFFQUUxIQVFUTkJPTkI4JTJGMjAyNTA4MDYlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwODA2VDAwMzU0N1omWC1BbXotRXhwaXJlcz00MzIwMCZYLUFtei1TZWN1cml0eS1Ub2tlbj1leUpoYkdjaU9pSklVelV4TWlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaFkyTmxjM05MWlhraU9pSlBXazR3VFVoUlVGRk1TRUZSVkU1Q1QwNUNPQ0lzSW1WNGNDSTZNVGMxTkRRNE16WTVOU3dpY0dGeVpXNTBJam9pWVdSdGFXNGlmUS5WeG9jWl9UUHF1OGwwaTh6NlQ2aVF1M1AzdEY1M09vdzhPVzdtbVNfSkwzVk5IWFdWVEw5ck1WZ1o0bkdkU0VDRXJta3FKZnBGWG1WR05SbUxmWkE1ZyZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmdmVyc2lvbklkPW51bGwmWC1BbXotU2lnbmF0dXJlPWU2YzdiOWZhNmFjNGE1YmQ5MWMxMjI1YWNmZjY5ZGM5MjlkNDUxYzliZGNhYTBiZmVmNjhiODg3OTJkZmVkN2I" class="img-thumbnail" width="100"/>
            </td>
        </tr>
}
    </tbody>
</table>
